.popup-fade::before {
  content: '';
  background: #000;
  position: fixed; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  opacity: 0.7;
  z-index: 9999;
}

.popup-fade {
  display: none;
  .popup {
    position: fixed;
    top: 20%;
    left: 50%;
    width: 485px;
    margin-left: -200px;	
    background: #fff;
    border: none;
    border-radius: 4px; 
    z-index: 99999;
    opacity: 1;

    .popup-close {
      background: url('../img/close.png');
      width: 13px;
      height: 13px;
      text-indent: -9999px;


    }

    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 23px 20px;

      .left-box {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        img {
          margin-right: 18px;
        }
      }
    }
    form {
      padding: 35px 20px;
      background-color: #f7f8f9;
      display: flex;
      flex-direction: column;

      input {
        background-color: #f7f8f9;
        border: none;
        border-bottom: 2px solid #e9ebec;
        padding-bottom: 15px;
        margin-bottom: 50px;
        outline: none;
        &:focus {
          border-color: $color-tertiary;
        }
      }
      .input-number {
        margin-bottom: 35px;
      }

      input:focus::-webkit-input-placeholder {
        color: $color-tertiary;
        font-size: 12px;
        
      }

      input::-webkit-input-placeholder {
        color: #a5acaf;
        line-height: 100px;
      }

      p {
        font-size: 14px;
        color: #9f9f9f;
        line-height: 20px;
      }
    }
    .modal-btn {
      background-color: #eeeff2;
      text-align: center;
      padding: 23px 0;
      .form-btn {
        width: 217px;
        height: 50px;
        background-color: $color-tertiary;
        color: #fff;
        border: none;
        border-radius: 30px;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 1px;
        cursor: pointer;
      }
    }
  }
  
}