// width
$grid-width-primary: 100%;
$grid-width-secondary: 1140px;

// font

$font-primary: 'Gilroy-Light', sans-serif;

// colors

$color-primary: #678b97;
$color-secondary: #98acb2;
$color-tertiary: #a2d107;
$color-background: #f1f3f4;

// background-color

$background-color-primary: #fcfcfc;

// dots color

$color-dots: #d6dae0;